body {
    margin: 0;
    overflow: hidden;
    background-color: silver;
}
div.container {
    display: flex;
}
button {
    width: 33%;
    height: 6em;
}
canvas {
    display: block;
    stroke: rgb(213, 201, 201);
    background-color: rgb(0, 0, 0);
}
